# Lesson 2: Basic data type, structure and arithmetics in python
> # catalogue
>* [Data type](#data_type)
>* [Data structure](#data_structure)
>* [Arithmetics](#arithmetics)

<a id="data_type"></a>
<h1 style = "color:red;">Data type</h1><br>

### 1. Integer:`int`
> `int` means integer, like 7, 8, 9. We deal with intergers in our work for most of the time.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

a = 3
type(a)

int

In [2]:
a = 3.3
int(a)

3

### 2. Floating point (real number): `float`
> `float` means a number with decimal, like 2.1, 3.8, 5.6 and so on.

In [3]:
f = 3.3
type(f)

float

In [4]:
f = 3
float(f)

3.0

###  3. Boolean: `bool`
>* The 'bool()' method converts a value to Boolean (True or False), using the standard truth testing procedure.
>* It's not mandatory to pass a value to bool(). If you do not pass a value, bool() returns False. In general use, bool() takes a single parameter value.
>* Anything empty or zero will regard as False, including 0, 0.0, False, (), \[\], {}.

In [5]:
b = 0
bool(b)

False

In [6]:
b = []
bool(b)

False

In [7]:
b = [0]
bool(b)

True

### 4.  String `str`
>* 'str' means string, a sequence of characters, like peking_university, PHBS and so on.
>* Strings can be created by enclosing characters inside a single quote or double quotes, like '',"". Even triple quotes can be used in Python but generally used to represent multi-line strings and doc-strings.

In [8]:
s = "Awesome to be in FML"
s

'Awesome to be in FML'

### Escape character in strings
>some character has the specific meaning in string, if you want to present the original meaning, escape character is a good help.
* \\' means single quote
* \\" means double quote
* \\\ means backslash
* \n means new line

If you want to print 'Xiao Ming says "I don't feel well today"', add excape character before double quota.

In [9]:
s = " Xiao Ming says \"I don't feel well today\""
print(s)

 Xiao Ming says "I don't feel well today"

### String functions
String type is more complicate than interger, float or boolean.<br>
Python has a built-in string class named "str" with many handy features, which allow us to easily make modifications to strings in Python. Here are some of the most common string methods:

| Function                  | Description      |   
|:----------:|:-------:|
| str.lower()   | Returns the lowercase or uppercase version of the string  |                                           
| str.strip()  | Returns a string with whitespace removed from the start and end |
| str.find('other')  | Searches for the given other string within s, and returns the first index where it begins or -1 if not found |
| str.replace('old', 'new') | Returns a string where all occurrences of 'old' have been replaced by 'new'|
| str.split('delimiter')    | Returns a list of substrings separated by the given delimiter. 'a,b,c'.split(',') -> ['a', 'b', 'c']. As a convenient special case, str.split (with no arguments) splits on all whitespace chars. 'a b c'.split() -> ['a','b','c'] |
| str.join(list)            | Joins the elements in the given list together using the string as the delimiter.The list elements will be joined by sequences. e.g. '---'.join(['a', 'b', 'c']) -> a---b---c    |

In [10]:
s = "FML is here     "
s.lower()
s.strip()
s.find('is')
s.replace('here', 'great')
s.split('is')

'fml is here     '

'FML is here'

4

'FML is great     '

['FML ', ' here     ']

### Format string
Format string is a conveniet way to print standard string.<br>
> There are two way to perform format string
* `%` as the placehoder
>>* `%s` can replace string, `%f` can replace float, `%d` can replace interger.
>>* Formatting integers and floating-point numbers can also specify whether to complement 0 and the number of integers and decimals. 
* `format` function is a more powerful way with more complex syntax.
>>* "{0} {1}".format("hello", "world") can select position
>>* `{:.2f}` `:` in the `{}` to adjust print format.

In [43]:
# %s
"Hi, my name is Liusheng"
"Hi, my name is Yangyang"
s = "Yangyang"

"Hi, my name is %s"%s

#%f
f = 3.1415926535
"My answer is %08.2f"%f
"My answer is %08.2f"%f


#%d
d = 123456
"This is %015d"%d

# format function
a = 1000000
"{:,}".format(a)
"{:.2e}".format(a)

'Hi, my name is Liusheng'

'Hi, my name is Yangyang'

'Hi, my name is Yangyang'

'My answer is 00003.14'

'My answer is 00003.14'

'This is 000000000123456'

'1,000,000'

'1.00e+06'

<a id="data_structure"></a>
<h1 style = "color:red;">Data structure</h1><br></br>

### 1. List `list`
>`list`is an ordered collection of elements that can be added and deleted at any time.<br>
 \[ \] represent the list

In [11]:
FML = ['tencent', 'big_data' ,'new_media']

type(FML)

#length
len(FML)

# Index
FML[0]
FML[1]
FML[2]
FML[-1]
FML[-2]
FML[-3]

list

3

'tencent'

'big_data'

'new_media'

'new_media'

'big_data'

'tencent'

### List function
>List is an ordered sequence of items. It is one of the most used data structure in Python and is pretty flexible. All the items in a list do not need to be of the same type.

| Methods   | Description                                                                  |
|-----------|------------------------------------------------------------------------------|
| append()  | Adds an element at the end of the list                                       |
| count()   | Returns the number of elements with the specified value                      |
| extend()  | Add the elements of a list (or any iterable), to the end of the current list |
| index()   | Returns the index of the first element with the specified value              |
| insert()  | Adds an element at the specified position                                    |
| pop()     | Removes the element at the specified position                                |
| remove()  | Removes the first item with the specified value                              |
| reverse() | Reverses the order of the list                                               |
| sort()    | Sorts the list                                                               |

In [12]:
FML = ['tencent', 'big_data' ,'new_media']

#append
FML.append(666)
FML
#count
FML.count(666)
#extend
FML.extend([1,2,3])
FML
FML + [4]
#index
FML.index(3)
#insert
FML.insert(0,'OK')
FML
#remove
FML.remove(2)
FML
#reverse
FML.reverse()
FML

['tencent', 'big_data', 'new_media', 666]

1

['tencent', 'big_data', 'new_media', 666, 1, 2, 3]

['tencent', 'big_data', 'new_media', 666, 1, 2, 3, 4]

6

['OK', 'tencent', 'big_data', 'new_media', 666, 1, 2, 3]

['OK', 'tencent', 'big_data', 'new_media', 666, 1, 3]

[3, 1, 666, 'new_media', 'big_data', 'tencent', 'OK']

### List slice
>slice is a build-in data type in python. It's pretty handy to select data from list, tuple, array, matrix and other order data struction.
* Syntax: sliceable_data[start:stop:step]
* The start is default to 0, end is default to the length. For step - the amount by which the index increases, defaults to 1. If it's negative, you're slicing over the iterable in reverse.

In [13]:
#creat a slice
s = slice(1,4,1)
type(s)

r=[1,2,3,4,5,6]

#use the silce
r[s]

#other use of slice
r[::2]
r[::-2]
r[2::2]
r[:2:]

slice

[2, 3, 4]

[1, 3, 5]

[6, 4, 2]

[3, 5]

[1, 2]

### 2. tuple `tuple`
>* `tuple`is an ordered collection of elements, but it can not modify after initialization .<br>
() represent the tuple
>* tuple is more safe than list, but some function in list is not available in tuple such as replace, pop, insert.
>* under some circumstance, you can only use tuple， instand of list.

In [14]:
FML = ('tencent', 'big_data' ,'new_media')

len(FML)
max(FML)
min(FML)

3

'tencent'

'big_data'

### 3. Dictionatry `dic`
>* A dictionary is a collection which is disordered, changeable and indexed, like d = {key1 : value1, key2 : value2}
{} represent the `dic`

In [16]:
FML = {"group_1":"big_data", "group_2":"tencent", "group_3":"new_media"}
type(FML)

#index
FML["group_1"]

dict

'big_data'

### Dictionary function
| Methods    | Description                                               |
|------------|-----------------------------------------------------------|
| fromkeys() | creates dictionary from given sequence                    |
| get()      | Returns value of the key, default=None                               |
| items()    | Returns view of dictionary's (key, value) pair            |
| keys()     | Returns view object of all keys                           |
| contains(key) | Return bool value by checking whether the key is in dict  |
| pop()      | Returns & removes element having given key                |
| values()   | Returns view of all values in dictionary                  |
| update()   | Updates the Dictionary                                    |

In [65]:
# from keys and values
group_key = ["group_%s"%s for s in range(1,4)]
group_key

FML = dict.fromkeys(group_key, "big_data")
FML

#get
FML["group_1"]
FML.get("group_1")

#items()
FML.items()

#keys()
FML.keys()

#values()
FML.values()

#pop()
FML.pop("group_1")
FML

#updata
FML_now = {"group_2":"tencent", "group_3":"new_media"}
FML.update(FML_now)
FML

['group_1', 'group_2', 'group_3']

{'group_1': 'big_data', 'group_2': 'big_data', 'group_3': 'big_data'}

'big_data'

'big_data'

dict_items([('group_1', 'big_data'), ('group_2', 'big_data'), ('group_3', 'big_data')])

dict_keys(['group_1', 'group_2', 'group_3'])

dict_values(['big_data', 'big_data', 'big_data'])

'big_data'

{'group_2': 'big_data', 'group_3': 'big_data'}

{'group_2': 'tencent', 'group_3': 'new_media'}

<a id="arithmetics"></a>
<h1 style = "color:red;">Arithmatic</h1><br></br>

### Basic rules

| Operator          | Description                                                                                                         | Example                                                |
|-------------------|---------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------|
| `+` Addition        | Adds values on either side of the operator.                                                                         | a + b = 30                                             |
| `-` Subtraction     | Subtracts right hand operand from left hand operand.                                                                | a – b = -10                                            |
| `*` Multiplication  | Multiplies values on either side of the operator                                                                    | a * b = 200                                            |
| `/` Division        | Divides left hand operand by right hand operand                                                                     | b / a = 2                                              |
| `%` Modulus         | Divides left hand operand by right hand operand and returns remainder                                               | b % a = 0                                              |
| `**` Exponent       | Performs exponential (power) calculation on operators                                                               | a**3 =1000, a=10                                       |
| `//` Floor Division | The division of operands where the result is the quotient in which the digits after the decimal point are removed.  | 9//2 = 4, 9.0//2.0 = 4.0, -11//3 = -4, -11.0//3 = -4.0 |

**please figure out**  $$\frac{\sqrt{123\times14}+\frac{432}{234}}{3^4-25\%4}$$

In [67]:
#put your answer here

0.5417892711080838